.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header .logo {
    max-height: 60px;
}

.header .tittle-group {
    padding-left: 25px;
}

.header .tittle-group i {
    padding-right: 5%;
}

.header .tittle-group i {
    padding-left: 5%;
}